<div class="container">
    <app-title>{{'LogIn Form'|translation:language}}</app-title>
    <form (ngSubmit)="onSubmit()" #logInForm="ngForm">
        <mat-form-field>
            <input name="email" matInput type="email" placeholder="{{'Email'|translation:language}}" [(ngModel)]="email" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.errors?.required">{{'Email is required'|translation:language}}</mat-error>
            <mat-error *ngIf="emailInput.errors?.email">{{'Email is invalid'|translation:language}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input name="password" matInput type="password" placeholder="{{'Password'|translation:language}}" [(ngModel)]="password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.errors?.required">{{'Password is required'|translation:language}}</mat-error>
        </mat-form-field>
        <button type="submit" mat-stroked-button color="primary" [disabled]="logInForm.form.invalid">{{'LogIn'|translation:language}}</button>
        <mat-error *ngIf="!success">{{'email or password is incorrect!!!!!!!'|translation:language }}</mat-error>
    </form>
</div>