<div class="actions-container">
    <button *ngIf="(islogedin|async) && (isMyTweet|async)" mat-icon-button appConfirmation="{{'Are you sure you want to delete?'|translation:language}}" (confirmation)="deletePost($event)"> <mat-icon>delete</mat-icon></button>
    <button *ngIf="islogedin|async" mat-icon-button (click)="openDialog()"> <mat-icon>reply</mat-icon></button>
    <button *ngIf="tweet.starredByMe" [disabled]="!(islogedin|async)" mat-icon-button (click)="clickedOnStar()"> <mat-icon [matBadge]="tweet.stars">star</mat-icon></button>
    <button *ngIf="!tweet.starredByMe" [disabled]="!(islogedin|async)" mat-icon-button (click)="clickedOnStar()"> <mat-icon [matBadge]="tweet.stars">star_border</mat-icon></button>
</div>